.bg-base {
    background-color: #001529;
}


.input-test {
    box-sizing: border-box;
    height: 50px;
    background: transparent!important;
    background-blend-mode: overlay;
    box-shadow: 0px 16px 15.1px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(4.2px);
    color: white;

}

.input-test:focus  {
    box-sizing: border-box;
    width: 502px!important;
    height: 50px;
    background: transparent!important;
    background-blend-mode: overlay;
    box-shadow: 0px 16px 15.1px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(4.2px);
    color: white;

}

.input-test:active  {
    box-sizing: border-box;
    width: 502px!important;
    height: 50px;
    background: transparent!important;
    background-blend-mode: overlay;
    box-shadow: 0px 16px 15.1px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(4.2px);
    color: white;

}