
@import "../sass/Components/Navbar.scss";
@import "../sass/Page/Properties.scss";
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7fafc;
    margin: 0;
    padding: 0;
}

.bg-primary {
    background-color: #093B69!important;
}

.app {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    
}


