.bg-gray-100 {
    background-color: #f7fafc;
}

/* Sidebar */
.sidebar {
    width: 340px;
    background-color: #093B69;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar .logoName {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    background-color: #0056A3;
    height: 109px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    img {
        width: 70px;
        height: 30px;
        margin-right: 10px;
    }
}

.sidebar nav {
    flex: 1;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar a {
    display: block;
    padding: 0.5rem 1rem;
    color: rgba(255, 255, 255, 0.6);
    /* Blanc avec 60% de transparence */
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    border-radius: 15px;
    margin: 0 20px;
    width: 300px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 19.11px;
}


.icon-navbar {
    width: 59px;
    height: 59px;
    padding-right: 10px;
    color: white;
}

.sidebar a:hover {


    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;

}

.sidebar a.active {
    background-color: #2b6cb0;
    color: white;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 1.5rem;
}

.main-content h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}


.input-navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: relative;
    font-size: 19.11px;
    color: white;

    .search-icon {
        position: absolute;
        left: 30px;
        color: white;
        width: 48px;
        height: 48px;
    }

    input {
        width: 300px;
        height: 70px;
        border-radius: 15px;
        padding-left: 70px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.15);
        border: none;
        color: white;
        font-size: 19.11px;


        // Met le placeholder en blanc
        &::placeholder {
            color: white;
            opacity: 1; // Assure qu'il est bien visible
        }

        &:focus {
            border: none;
        }

        &:active {
            border: none;
        }
    }
}

.bottom-navbar {
    height: 87px;
    width: 100%;
    background-color: #0056A3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        padding-right: 35px;

        margin-left: 10px;

        p {
            margin: 0;
            padding: 0;
        }
    }

    .profil {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #f7fafc;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        padding-top: 15px;
    }

}




.btn-logout:hover {
    background-color: #ff3333;
}

/* Nouveau style pour la sidebar rétractée */
.sidebar.collapsed {
    width: 95px; /* Réduit la largeur */
}

.sidebar.collapsed .input-navbar {
    display: none;
}

.sidebar.collapsed .logo {
    width: 100%;
}

.sidebar.collapsed nav {
    display: flex;
    align-items: center ;
}

.sidebar.collapsed nav a {
    width: 80px; /* Réduit la largeur des liens */
    justify-content: center; /* Centre l'icône */
    display: flex;
    align-items: center ;
    justify-content: center;
    padding: 0;
}
.sidebar.collapsed .icon-navbar {
    padding-right: 0px!important;
}
.sidebar.collapsed nav a span {
    display: none; /* Cache les titres des liens */
}

.sidebar.collapsed .search-icon {
    display: none; /* Cache l'icône de recherche */
}
.sidebar.collapsed .bottom-navbar {
    padding: 15px!important;
    font-size: 12px;
    .profil {
        display: none;
    }
}
.toggle-sidebar {
    background-color: #0056A3;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    left: 1%;
    transform: translateY(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    font-size: 1.5rem;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-sidebar:hover {
    background-color: #004182; /* Légère modification au survol */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.toggle-sidebar:focus {
    outline: none;
}

.toggle-sidebar:before {
    content: '›';
    margin-top: 15px;
    font-size: 2.5em;
    transform: rotate(180deg); /* Icône inversée lorsque la sidebar est réduite */
}

.sidebar.collapsed .toggle-sidebar:before {
    transform: rotate(0deg); /* Icône qui change de direction */
    margin-bottom: 35px;
    font-size: 1.5em!important;

}
